
{% load static %}
<head>
  <title>Checkout Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %} ">
  <link rel="stylesheet" href="{% static 'templatemo.css' %} ">
  <link rel="stylesheet" href="{% static 'custom.css' %}">
  <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="{% static 'fontawesome.min.css' %} ">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  {% comment %} RazorPay {% endcomment %}
  {% comment %} <script src="{% static 'js/checkout.js' %}"></script> {% endcomment %}
  <script src="{% static 'payment.js' %}"></script>
</head>

<body>
 
  <style>
    a {
        text-decoration: none !important;
        color:#fff;
      }

    .ribbon-2 {
      --f: 10px; /* control the folded part*/
      --r: 15px; /* control the ribbon shape */
      --t: 10px; /* the top offset */
      
      position: absolute;
      inset: var(--t) calc(-1*var(--f)) auto auto;
      padding: 0 10px var(--f) calc(10px + var(--r));
      clip-path: 
        polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
          calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
          var(--r) calc(50% - var(--f)/2));
      background: #F54343;
      color:#fff;
      box-shadow: 0 calc(-1*var(--f)) 0 inset #9B301A;
    }
 
    </style>

  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-light shadow">
      <div class="container d-flex justify-content-between align-items-center">

          <a class="navbar-brand text-success logo h1 align-self-center" href="#">
            <img class="img-fluid " style="height:40px" src="{% static 'img/logogreen.png' %} " alt="">
          </a>

          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
              <div class="flex-fill">
                  <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="home">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="collections">Categories</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Shop</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Logout</a>
                      </li>
                  </ul>
              </div>
              <div class="navbar align-self-center d-flex">
                  <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                      <div class="input-group">
                          <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                          <div class="input-group-text">
                              <i class="fa fa-fw fa-search"></i>
                          </div>
                      </div>
                  </div>
                  <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                      <i class="fa fa-fw fa-search text-dark mr-2"></i>
                  </a>
                  <a class="nav-icon position-relative text-decoration-none" href="cart">
                      <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                      <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                  </a>
                  <a class="nav-icon position-relative text-decoration-none" href="#">
                      <i class="fa fa-fw fa-user text-dark mr-3"></i>
                      <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">{{user.username}}</span>
                  </a>
              </div>
          </div>

      </div>
  </nav>






<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="{% static 'payment.js' %}"></script>



{

<div class = "d -flex container">
    <div class="row my-5 ">
        
        <div class="col-md-9">
            <form action = "checkout" method="POST">
            {% csrf_token %}
            <div class="card ">
                <div class="card-header d-flex">
                    <h4>Checkout</h4>
                    <div style="margin-left:493px">
                        <a href="addaddress" class="btn btn-outline-primary btn-sm ms-5 ">Add new address</a>
                    </div>
                </div>
                
                <div class="card-body">
                    <h5>Select Shipping Address</h5>
                    
                        {% for address in addresses %}
                        <input type="hidden" name="amount" value="{{total}}" id="amount">
                        <input type="hidden" name="payment" value="COD" id="payment">
                        <input type="hidden" name="cart" value="{{cart}}" id ="cart">
                        
                        
                        <input type="radio" class="m-3" name="address_id" value="{{address.id}}" checked> <label>
                            <div class="card col-md-4 my-2" style="width: 13rem;">
                            <div class="card-body">
                              <h5 class="card-title">{{address.name}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{address.phone}}</h6>
                              <p class="card-text">{{address.address}}<br>
                                {{address.city}}<br>
                                {{address.pincode}}<br>
                                {{address.state}}<br>
                              </p>
                            </div>
                        </div></label>
                    
                        {% endfor %}
   
                    </div>
                </div>
            </div>
            
            <div class= "col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Price details</h4>
                    </div>
                
                    <div class="card-body">
                    
                        <table class="table">
                            <tr>
                                <td>Subtotal</td>
                                {% if subtotal %}
                                <td>₹{{subtotal}}/-</td>
                                {% else %}
                                <td>₹{{price}}/-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Shipping</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                {% if total %}
                                <td>₹{{total}}/-</td>
                                {% else %}
                                <td>₹{{price}}/-</td>
                                {% endif %}
                            </tr>
                        </table>
                        <button class="btn my-2 text-light button" type="submit" style="width:100%; background:#1C3879;">Proceed To Payment</button>
                    </div>
                   
                </div>
            </form>
        </div>
        
        
    </div>
    
</div>
