{% extends 'base.html' %}
{% load static %}
{% block title %}All Categories{% endblock title %}
{% block content %}
    <!-- Close Top Nav -->

    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories</h1>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row">
          {% for item in category %}
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="collectionsview?id={{item.id}}" ><img src="{{item.image.url}}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{ item.name }}</h5>
                <p class="text-center"><a class="btn btn-outline-success " href="collectionsview?id={{item.id}}" ><b>Go Shop</b></a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %} "></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js'%} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static ' js/templatemo.js' %}"></script>
    <script src="{% static ' js/custom.js' %}"></script>
    <!-- End Script -->

{% endblock content %}

 