{% extends 'base.html' %}
{% load static %}
{% block title %}All Categories{% endblock title %}
{% block content %}


<!-- Default theme -->
  {% comment %} <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endcomment %}






<div class = "d -flex container">
    <div class="row  my-5">
        
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4>My Orders</h4>
                </div>
                {% if empty %}{% endif %}
                {% for order in orders %}
                
                <div class="card-body">
                    
                    
                    <div class="d-flex">
                        <div class="col-md-4">
                            <p>Order ID: {{order.id}} <p>           <p>Order Date: {{order.ordered_date}}</p>
                         
                                <br>
                                <h5>Total: {{order.amount}}</h5>
                            </ul> 
                        </div>
                        <div class ="col-md-4">
                            <h6><b>Shipping Address</b></h6>
                            <ul type="None">
                                <li>{{order.address.name}}</li>
                                <li>{{order.address.address}}</li>
                                <li>{{order.address.phone}}</li>
                                <li>{{order.address.city}}</li>
                                <li>{{order.address.state}}</li>
                                <li>{{order.address.pincode}}</li>
                                
                            </ul>
                    </div>
                    <div>
                        <h6><b>Payment Method</b></h6>
                        <p>{{order.method}}</p> 
                        <br>
                        <h6><b>Order Status</b></h6>
                        <p>{{order.status}}</p>
                        {% if order.cancel %}
                        {% comment %} <p>Order Cancelled</p> {% endcomment %}
                        {% else %}
                        {% comment %} <button class="btn btn-danger" onclick="cancelOrder({{order.id}})">Cancel Order</button> {% endcomment %}
                        <a href="cancelorder?id={{order.id}}"><b>Cancel Order</b></a>
                        {% endif %}
                        {% comment %} <a class="btn text-light" href= "cancelorder?id={{order.id}}" style="background: #1C3879; "><i style=""onclick="return confirm('Are you sure to cancel the order ?')">Cancel Order</i>
                            </a> {% endcomment %}
                         <br>
                            <a href="invoice?id={{order.id}}" class="text-success"> Download invoice</a>
                    </div>
                    
                </div>
                <hr>
                   
            </div>
            {% endfor %}
            
        </div>
        
        
    </div>
    

</div>
<script>
    
    function cancelOrder(id){
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                window.location.href = "cancelorder?id="+id;
              swal("Poof! Your imaginary file has been deleted!", {
                icon: "success",
              });
            } else {
              swal("Your imaginary file is safe!");
            }
          });
    }
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/kt-2.6.4/r-2.2.9/rg-1.1.3/rr-1.2.8/sl-1.3.3/datatables.min.css"/>
<script>
    $(document).ready( function () {
      $('#table_id').DataTable();
    
    });
  </script>
{% endblock content %}