
{% extends 'base.html' %}
{% load static %}
{% block title %}View All Products{% endblock title %}


{% block content %}
 
  <style>

    .ribbon-2 {
      --f: 10px; /* control the folded part*/
      --r: 15px; /* control the ribbon shape */
      --t: 10px; /* the top offset */
      
      position: absolute;
      inset: var(--t) calc(-1*var(--f)) auto auto;
      padding: 0 10px var(--f) calc(10px + var(--r));
      clip-path: 
        polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
          calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
          var(--r) calc(50% - var(--f)/2));
      background: #F54343;
      color:#fff;
      box-shadow: 0 calc(-1*var(--f)) 0 inset #9B301A;
    }
 
    </style>

  <!-- Start Content -->
  <div class="container-fluid py-5">
      <div class="row">

          <div class="col-lg-3">
              <h1 class="h2 pb-4 ">Category:{{category.name}}</h1>
              {% comment %} <ul class="list-unstyled templatemo-accordion">
                  <li class="pb-3">
                      <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                          Gender
                          <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                      </a>
                      <ul class="collapse show list-unstyled pl-3">
                          <li><a class="text-decoration-none" href="#">Men</a></li>
                          <li><a class="text-decoration-none" href="#">Women</a></li>
                      </ul>
                  </li>
                  <li class="pb-3">
                      <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                          Sale
                          <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                      </a>
                      <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                          <li><a class="text-decoration-none" href="#">Sport</a></li>
                          <li><a class="text-decoration-none" href="#">Luxury</a></li>
                      </ul>
                  </li>
                  <li class="pb-3">
                      <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                          Product
                          <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                      </a>
                      <ul id="collapseThree" class="collapse list-unstyled pl-3">
                          <li><a class="text-decoration-none" href="#">Bag</a></li>
                          <li><a class="text-decoration-none" href="#">Sweather</a></li>
                          <li><a class="text-decoration-none" href="#">Sunglass</a></li>
                      </ul>
                  </li>
              </ul> {% endcomment %}
          </div>

          <div class="col-lg-9">
              <div class="row">
        
                
              <div class="row">
                {%for item in products %}
                  <div class="col-md-4">
                      <div class="card mb-4 product-wap rounded-0">
                          <div class="card rounded-0">
                            <div class="ribbon-2">{{item.tag}}</div>
                              <img class="card-img rounded-0 img-fluid" src="{{ item.product_image.url }}">
                              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                  <ul class="list-unstyled">
                                      <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                      <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                      <li><a class="btn btn-success text-white mt-2" href="addtocart"><i class="fas fa-cart-plus"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="card-body">
                              <a href="productview?id={{item.id}}" class="h2 text-decoration-none">{{ item.name }}</a>
                              {% comment %} <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                  <li>M/L/X/XL</li>
                                  <li class="pt-2">
                                      <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                      <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                      <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                      <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                      <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                  </li>
                              </ul> {% endcomment %}
                           
                              <p class="text-center mb-0">&#8377; {{item.selling_price|stringformat:'d'}}</p>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
                  
              {% comment %} <div div="row">
                  <ul class="pagination pagination-lg justify-content-end">
                      <li class="page-item disabled">
                          <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                      </li>
                      <li class="page-item">
                          <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                      </li>
                      <li class="page-item">
                          <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                      </li>
                  </ul>
              </div> {% endcomment %}
          </div>

      </div>
  </div>
  <!-- End Content -->

  <!-- Start Brands -->
  <section class="bg-light py-5">
      <div class="container my-4">
          <div class="row text-center py-3">
              <div class="col-lg-6 m-auto">
                  <h1 class="h1">Our Brands</h1>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      Lorem ipsum dolor sit amet.
                  </p>
              </div>
              <div class="col-lg-9 m-auto tempaltemo-carousel">
                  <div class="row d-flex flex-row">
                      <!--Controls-->
                      <div class="col-1 align-self-center">
                          <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                              <i class="text-light fas fa-chevron-left"></i>
                          </a>
                      </div>
                      <!--End Controls-->

                      <!--Carousel Wrapper-->
                      <div class="col">
                          <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                              <!--Slides-->
                              <div class="carousel-inner product-links-wap" role="listbox">

                                  <!--First slide-->
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_01.png' %} " alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_02.png' %} " alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_03.png' %}" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_04.png' %} " alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End First slide-->

                                  <!--Second slide-->
                                  <div class="carousel-item">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_01.png' %} " alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End Second slide-->

                                  <!--Third slide-->
                                  <div class="carousel-item">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End Third slide-->

                              </div>
                              <!--End Slides-->
                          </div>
                      </div>
                      <!--End Carousel Wrapper-->

                      <!--Controls-->
                      <div class="col-1 align-self-center">
                          <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                              <i class="text-light fas fa-chevron-right"></i>
                          </a>
                      </div>
                      <!--End Controls-->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End Brands-->

  <!-- Start Script -->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>  {# Alertify #}
  <script>

    alertify.set('notifier','position', 'top-right');
    {% for msg in messages %}
    alertify.success('{{ msg }}');
    {% endfor %}
   
  </script>

  <script src="{% static ' js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %} "></script>
  <script src="{% static ' js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/templatemo.js' %} "></script>
  <script src="{% static ' js/custom.js' %}"></script>
  <!-- End Script -->
  {% endblock content %}