
{% extends 'base.html' %}
{% load static %} 
{% load mathfilters %}
{% block title %}View All Products{% endblock title %}


{% block content %}
 
  <style>

    .ribbon-2 {
      --f: 10px; /* control the folded part*/
      --r: 15px; /* control the ribbon shape */
      --t: 10px; /* the top offset */
      
      position: absolute;
      inset: var(--t) calc(-1*var(--f)) auto auto;
      padding: 0 10px var(--f) calc(10px + var(--r));
      clip-path: 
        polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
          calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
          var(--r) calc(50% - var(--f)/2));
      background: #14A44D;
      color:#fff;
      box-shadow: 0 calc(-1*var(--f)) 0 inset #1b5e20;
    }
 
    </style>

  <!-- Start Content -->
  <div class="container-fluid py-5">
      <div class="row">

        <div class="col-lg-3">
            <h2 style=" text-align: center; padding-bottom:40px;">Categories:</h2>
            {% for cat in catall %}
            <a href="collectionsview?id={{cat.id}}"class="h2 pb-4 text-decoration-none"><h3 style="color:#14A44D; text-align: center;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">{{cat.name}}</h3></a><br>
            {% endfor %}
        </div>
          <div class="col-lg-9">
              <div class="row">
        
                
              <div class="row">
                {%for item in products %}
                  <div class="col-md-4">
                      <div class="card mb-4 product-wap rounded-0">
                          <div class="card rounded-0">
                            <div class="ribbon-2">{{item.tag}}</div>
                              <img class="card-img rounded-0 img-fluid" style="  height: 400px; object-fit: cover;" src="{{ item.product_image.url }}">
                              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                  <ul class="list-unstyled">
                                      <li><a class="btn btn-success text-white mt-2" href="productview?id={{item.id}}"><i class="far fa-eye"></i></a></li>
                                      <li><a class="btn btn-success text-white mt-2" href="addtocart?pid={{item.id}}"><i class="fas fa-cart-plus"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="card-body">
                              <a href="productview?id={{item.id}}" class="h2 text-decoration-none">{{ item.name }} &nbsp</a><br>
                              <span class=" ">&#8377; {{item.selling_price|stringformat:'d'}}</span>
                           
                {% for offer in offers %}
                  {% if  offer.product.id == item.id  or offer.category.id == item.category.id  %} 
                  {% comment %} <span class=" "><s>&#8377; {{item.selling_price|stringformat:'d'}}</s></span> {% endcomment %}
                           
                  {% with offer1=item.selling_price|div:100|mul:offer.offer|floatformat:2 %}
                  {% with offer2=item.selling_price|sub:offer1|floatformat:2 %}
                  {% with offerprice1=item.product.selling_price|sub:offer.max_value %}
                  {% with offerprice2=item.price_with_offer %}
                  {% if offerprice1 == offerprice2 %}
                  {% if offer2 < offer.max_value %}
                      <p class="fw-bold">Offer Price1 = ₹{{offer2}}/-</p>
                  {% else %}
                    <span style=" margin-left: 10px; color:green; font-size:17px;"><i><b>Offer:&nbsp ₹{{item.selling_price|sub:offer.max_value|stringformat:'d'}}/- &nbsp</i></b></span>
                  {% endif %}
                      
                  {% endif %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  
                  {% endif %}
                  
                {% endfor %}
            
                          </div>
                      </div>
                  </div>
            {% endfor %}
                  
        
          </div>

      </div>
  </div>
  <!-- End Content -->

  <!-- Start Brands -->
  <section class="bg-light py-5">
      <div class="container my-4">
          <div class="row text-center py-3">
              <div class="col-lg-6 m-auto">
                  <h1 class="h1">Our Brands</h1>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      Lorem ipsum dolor sit amet.
                  </p>
              </div>
              <div class="col-lg-9 m-auto tempaltemo-carousel">
                  <div class="row d-flex flex-row">
                      <!--Controls-->
                      <div class="col-1 align-self-center">
                          <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                              <i class="text-light fas fa-chevron-left"></i>
                          </a>
                      </div>
                      <!--End Controls-->

                      <!--Carousel Wrapper-->
                      <div class="col">
                          <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                              <!--Slides-->
                              <div class="carousel-inner product-links-wap" role="listbox">

                                  <!--First slide-->
                                  <div class="carousel-item active">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_01.png' %} " alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_02.png' %} " alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_03.png' %}" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_04.png' %} " alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End First slide-->

                                  <!--Second slide-->
                                  <div class="carousel-item">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="{% static 'img/brand_01.png' %} " alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End Second slide-->

                                  <!--Third slide-->
                                  <div class="carousel-item">
                                      <div class="row">
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                          </div>
                                          <div class="col-3 p-md-5">
                                              <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                          </div>
                                      </div>
                                  </div>
                                  <!--End Third slide-->

                              </div>
                              <!--End Slides-->
                          </div>
                      </div>
                      <!--End Carousel Wrapper-->

                      <!--Controls-->
                      <div class="col-1 align-self-center">
                          <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                              <i class="text-light fas fa-chevron-right"></i>
                          </a>
                      </div>
                      <!--End Controls-->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End Brands-->

  <!-- Start Script -->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>  {# Alertify #}
  <script>

    alertify.set('notifier','position', 'top-right');
    {% for msg in messages %}
    alertify.success('{{ msg }}');
    {% endfor %}
   
  </script>

  <script src="{% static ' js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %} "></script>
  <script src="{% static ' js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/templatemo.js' %} "></script>
  <script src="{% static ' js/custom.js' %}"></script>
  <!-- End Script -->
  {% endblock content %}