{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}


 
  <style>
    a {
      text-decoration: none !important;
      color:#000;
    }

    .ribbon-2 {
      --f: 10px; /* control the folded part*/
      --r: 15px; /* control the ribbon shape */
      --t: 10px; /* the top offset */
      
      position: absolute;
      inset: var(--t) calc(-1*var(--f)) auto auto;
      padding: 0 10px var(--f) calc(10px + var(--r));
      clip-path: 
        polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
          calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
          var(--r) calc(50% - var(--f)/2));
      background: #F54343;
      color:#fff;
      box-shadow: 0 calc(-1*var(--f)) 0 inset #9B301A;
    }
 
    </style>





{% comment %} Starting {% endcomment %}

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
     

    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://freesvg.org/img/Male-Head-Profile-Silhouette.png" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.first_name}} {{user.last_name}}</h5>
            <p class="text-muted mb-1">{{user.email}}</p>
            {% comment %} <p class="text-muted mb-4">{{user.accounts.phone}}</p> {% endcomment %}
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-success ms-1"><i class="fa fa-edit"></i>Edit Profile</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
   
              <ul class="nav navm nav-pills nav-stacked">
                
                <li><a href="changepassword?id={{user.id}}"> <i class="fa fa-edit"></i> Change Username/Password </a></li>
                <br>
                <p><a href="myorder"> <i class="fa fa-shopping-cart"></i> My Order History</a></p>
                
            </ul>
          
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-sm-9">
                <p class=" mb-0">{{user.first_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9">
                <p class="mb-0">{{user.last_name}}</p> 
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9">
                <p class="mb-0">{{user.email}}</p> 
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9">
                <p class=" mb-0"> {{user.accounts.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h5 class="mb-0">Address:</h5>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row ">
          {% for address in address %}
          <div class = "col-md-4 my-1 address mx-4">
              <div class="card address" style="width: 18rem;">
                  <div class="card-body ">
                    <h4 class="card-title">{{address.name}}</h4>
                    <h6 class="card-subtitle mb-2 ">{{address.phone}}</h6>
                    <p class="card-text">{{address.address}}<br>
                      {{address.city}}<br>
                      {{address.pincode}}<br>
                      {{address.state}}<br>
                    </p>
                    <button class="btn btn-danger"  onclick="deleteAddress({{address.id}})" class="card-link"><i class="fa fa-trash"></i> Delete</button>
                  </div>
                </div>
          </div>
          {% endfor %}
      </div>
      </div>
    </div>
  </div>
</section>

<script>
    function deleteAddress(id){
        console.log(id)
        swal({
          title: "Are you sure?",
          text: "Once deleted, your address will be deleted!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            $.ajax({
              url: "deleteaddress",
              type: "GET",
              data: {
                  'id': id,
                  
              },
              success: function(response){
                  
                  location.reload()
              }
          })
            swal("Poof! Your address has been deleted!", {
              icon: "success",
            });
          } else {
            swal("Your address is safe!");
          }
        });
       // alert("Are you sure you want to delete this address?")
        
    }
</script>
{% endblock content %}
